* {
  text-align: center;
  background-color: #dee3dd;
  color: black;
}
.my-form {
  color: #f7c471;
}
img{
  border: solid 5px white;
}
input {
  background-color: #dee3dd;
  color: black;
  border: solid 1px black;
}
.error{
  color: red;
}

h1 {
  color: #f7c471;
}